{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      nav>.nav.nav-tabs {

          border: none;
          color: #fff;
          background: #272e38;
          border-radius: 0;

      }

      nav>div a.nav-item.nav-link {

          border: none;
          padding: 18px 25px;
          color: #fff;
          background: #272e38;
          border-radius: 0;

      }

      nav>div a.nav-item.nav-link.active {
          border: none;
          padding: 18px 25px;
          color: #fff;
          background: #272e38;
          border-radius: 0;
          background-color: #e74c3c;
      }


      .tab-content {
          background: #fdfdfd;

      }

      nav>div a.nav-item.nav-link:hover,
      nav>div a.nav-item.nav-link:focus {
          border: none;
          background: #e74c3c;
          color: #fff;
          border-radius: 0;
          transition: background 0.20s linear;

      }

          .username{
            text-align: center;
            color: #e74c3c;
            font-family: cursive;
            font-size: calc( 1em + 1vh );
          }
          #pro {
            color: #0c2e8a;
            line-height: 1;
            display: inline-block;

          }

      #pro span {
        color: #50d8af;
      }
    </style>
     <!-- Favicons -->
  <!--<link href="{% static 'img/favicon.png' %}" rel="icon">-->
  <!--<link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">-->

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- analytics -->

  <script  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
  <script src="{% static './util.js' %}"></script>

    <title>Seller</title>


  </head>
  <body>
      <header id="header">
          <div class="container">

            <div id="logo" class="pull-left">
              <h1><a href="#body" class="scrollto">Grab<span>IT</span></a></h1>

              <!-- Uncomment below if you prefer to use an image logo -->
              <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
            </div>

            <div class="username" id="pro">< {{user.last_name}} ></a></div>

            <nav id="nav-menu-container" >
              <ul class="nav-menu">

                <li class="menu" ><a href="/">Home</a></li>
                <li class="menu"><a href="/addProduct/">Add-Product</a></li>
                <li class="menu-active"><a href="/seller/sellerhome">My-Cart</a></li>
                <li><a href="/logout/">Logout</a></li>

              </ul>
            </nav><!-- #nav-menu-container -->
          </div>
        </header>
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Grab_IT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item ">
                  <a class="nav-link" style="color: chartreuse; font-family:cursive; " href="#"><b>Hey {{user.username}} </b><span class="sr-only">(current)</span></a>
                </li>
            <li class="nav-item ">
              <a class="nav-link" href="/addProduct/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                    <a class="nav-link active" href="#">My-cart <span class="sr-only">(current)</span></a>
                  </li>
          </ul>
          <ul class="navbar-nav ml-0">
          <li class="nav-item active ">
            <a class="nav-link" href="/logout/">Logout</a>
          </li>
          </ul>

        </div>
      </nav> -->

      <div>
        <div class="row ml-0 mr-0" style="width:100%;">
          <div class="col-xs-12 "style="width:100%;">
            <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">To-Be Approved</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Approved</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Disapproved</a>
                <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Sold</a>
              </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">

              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <center><b>Have patience your product will be approved soon :)</b></center>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                
                </div>
                <div class="row">
                   {% for product in products %}
                        {% if product.status == 0 or product.status == 3 or  product.status == 4  %}

                        <div class="mx-auto mt-2">
                            <div class="card" style="width: 15rem;">
                                <img src="/media/{{product.image}}" alt="loading..." class="card-img-top" style="height: 13rem;">

                                  <ul class="list-group list-group-flush">
                                      <li class="list-group-item" style="text-align: center; background-color: rgb(236, 204, 19);"><h5><b>{{product.name}}</b></h5></li>
                                      <li class="list-group-item">Price: {{product.price}}</li>
                                      <li class="list-group-item">Category: {{product.category.name}}</li>
                                      <li class="list-group-item">Subcategory: {{product.subcategory.name}}</li>
                                    </ul>
                                </div>
                              </div>
                              {% endif %}
                            {% endfor %}
                  </div>
                  </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <div class="row">
                        {% for product in products %}
                             {% if product.status == 1  %}

                             <div class="mx-auto mt-2">
                                 <div class="card" style="width: 15rem; background-color:grey;">
                                    <img src="/media/{{product.image}}" alt="loading..." class="card-img-top" style="height: 13rem;">

                                       <ul class="list-group list-group-flush">
                                           <li class="list-group-item" style="text-align: center; background-color: rgb(236, 204, 19);"><h5><b>{{product.name}}</b></h5></li>
                                           <li class="list-group-item">Price: {{product.price}}</li>
                                           <li class="list-group-item">Category: {{product.category.name}}</li>
                                           <li class="list-group-item">Subcategory: {{product.subcategory.name}}</li>
                                           <li class="list-group-item"><button onclick="getViews('{{product.id}}')" type="button" class="btn btn-success" style="width:100%"
                                            data-toggle="modal" data-target="#pro{{product.id}}">
                                            Views

                                        </button></li>
                                           <a href="{% url 'sold' product.id %}" class="btn btn-primary">Sold</a>
                                         </ul>
                                     </div>
                                   </div>
                                   <!-- Modal -->
                                   <div class="modal fade" id="pro{{product.id}}" tabindex="-1" role="dialog"
                                   aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                   <div class="modal-dialog modal-dialog-centered" role="document">
                                       <div class="modal-content">
                                           <div class="modal-header">
                                               <h5 class="modal-title" id="exampleModalCenterTitle"
                                                   style="text-align:center; width:100%; font-family:cursive"><b>No. Of Views</b></h5>
                                               <button type="button" class="close" data-dismiss="modal"
                                                   aria-label="Close">
                                                   <span aria-hidden="true">&times;</span>
                                               </button>
                                           </div>

                                           <div class="modal-body">
                                              <h4 style="text-align: center; color:red;"><div id="view{{product.id}}">Loading....</div></h4>


                                           </div>
                                           <div class="modal-footer">
                                               <button type="button" class="btn btn-danger"
                                                   data-dismiss="modal">Close</button>

                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <!-- vfd -->
                                   {% endif %}
                                 {% endfor %}
                       </div>
                       </div>              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <div class="row">
                        {% for product in products %}
                             {% if product.status == -1 %}

                             <div class="mx-auto mt-2">
                                 <div class="card" style="width: 15rem; background-color:grey;">
                                       <img src="/media/{{product.image}}" alt="loading..." class="card-img-top" style="height: 13rem;">

                                       <ul class="list-group list-group-flush">
                                           <li class="list-group-item" style="text-align: center; background-color: rgb(236, 204, 19); "><h5><b>{{product.name}}</b></h5></li>
                                           <li class="list-group-item">Price: {{product.price}}</li>
                                           <li class="list-group-item">Category: {{product.category.name}}</li>
                                           <li class="list-group-item">Subcategory: {{product.subcategory.name}}</li>
                                         </ul>
                                     </div>
                                   </div>
                                   {% endif %}
                                 {% endfor %}
                       </div>
                       </div>              </div>
              <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <div class="row">
                        {% for product in products %}
                             {% if product.status == 2 %}

                             <div class="mx-auto mt-2">
                                 <div class="card" style="width: 15rem;">
                                    <img src="/media/{{product.image}}" alt="loading..." class="card-img-top" style="height: 13rem;">

                                       <ul class="list-group list-group-flush">
                                           <li class="list-group-item" style="text-align: center; background-color: rgb(236, 204, 19);"><h5><b>{{product.name}}</b></h5></li>
                                           <li class="list-group-item">Price: {{product.price}}</li>
                                           <li class="list-group-item">Category: {{product.category.name}}</li>
                                           <li class="list-group-item">Subcategory: {{product.subcategory.name}}</li>
                                         </ul>
                                     </div>
                                   </div>
                                   {% endif %}
                                 {% endfor %}
                       </div>
                       </div>              </div>
            </div>

          </div>
        </div>
  </div>
</div>
</div>

 <!--==========================
    Footer
  ============================-->
  <div >
      <footer id="footer" >
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong>CBKM</strong>. All Rights Reserved
          </div>
          <div class="credits">

            Designed by CBKM
          </div>
        </div>
      </footer><!-- #footer -->
    </div>
      <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

      <!-- JavaScript Libraries -->
      <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
      <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'lib/easing/easing.min.js' %}"></script>
      <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
      <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
      <script src="{% static 'lib/wow/wow.min.js' %}"></script>
      <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
      <script src="{% static 'lib/magnific-popup/magnific-popup.min.js' %}"></script>
      <script src="{% static 'lib/sticky/sticky.js' %}"></script>



      <!-- Template Main Javascript File -->
      <script src="{% static 'js/main.js' %}"></script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>